# Images disque (gros fichiers) — jamais versionnées
images/*
!images/.gitkeep
*.wim
*.iso
*.vhd
*.vhdx
*.esd

# Artefacts de build WinPE
winpe/mount/
winpe/media/
winpe/*.wim

# Secrets éventuels (comptes de jonction de domaine, mots de passe MDT, etc.)
*.secret
unattend.local.xml
*.local.ini
*.local.xml
*.local.ps1


# Divers
*.log
Thumbs.db
